// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
	background-color: #f7f7f7;
	padding: 10px 10px 10px 10px;
}
.article_title {
	font-size: 1.4em;
}
.article_body {
	background-color: #f7f7f7;
	padding-left: 10px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-top: 10px;
	margin: 10px 10px 10px 10px;
}
.new_article {
	margin-bottom: 20px;
}
.article_text {
  font-size: 1em;
  font-weight: normal;
  font-family: sans-serif;
  font-style: normal;
}
