// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: image-url('jumbothron_logo.jpg');
  height: 160px;
  padding-bottom: 40px;
  padding-top: 40px;
}
#myCarousel {
  margin-bottom: 40px;
}

